---
application_name: magento2
base_url: http://www.magento2.dev

# MySQL parameters
mysql_user: magento2
mysql_password: magento2
mysql_dbname: magento2
mysql_tcp_user: magento2_user
mysql_tcp_password: magento2_pass
mysql_root_password: mariadb_root_pass

# Composer auth.json parameters
github_token: your_github_token_here
magento_account_public_key: your_public_key_here
magento_account_private_key: your_private_key_here

# Magento install parameters
magento2_version: 2.1.3
magento2_language: en_US
magento2_currency: USD
magento2_admin_user: admin
magento2_admin_password: admin2016
magento2_admin_email: admin@myfakedomain.com
magento2_admin_firstname: John
magento2_admin_lastname: Doe
